html {
  font-family: 'Lucida Grande';
  font-size: 12px;
  background-color: #fff;
  color: #000;
  word-wrap: break-word;
  margin: 0;
  padding: 3px 7px 0 7px;
}

body { margin: 0; padding: 0; }

/* the html tag has these classes and attributes too */
body.normal {}
body.console {}
body[type=channel] {}
body[type=talk] {}
body[type=console] {}
body[channelname=#limechat] {}

hr { margin: 0.5em 2em; }
a { color: #144FAE; }

/* lines */
.line {
    margin: 1px -7px;
    padding: 1px 33px 1px 7px;
    border-bottom: solid 1px #fff;
    line-height: 16px;
}
.line[alternate=even] {}
.line[alternate=odd] {}
.line[type=action] .sender:before {
  content: "• ";
  white-space: nowrap;
}
.line[highlight=true] {
  background-color: #FBFAE0;
  border-bottom: solid 1px #FBF8CB;
}
.line[nick=Trac-Bot-],
.line[nick=trac-bot],
.line[nick=CIA-62] {
  opacity: .5;
}


.url { word-break: break-all; }
.address { text-decoration: none; word-break: break-all; }
.highlight { color: #000; font-weight: normal; background: #FBFAE0; }
.time { 
    color: #b3b3b3;
    font-size: 10px;
    float: right;
    margin: 2px -26px 0 0;
}
.place { color: #b3b3b3; }

.line[highlight=true] .time {
    color: #999;
}

strong.highlight {
    font-weight: bold;
}

/* nickname for text messages */
.sender[type=myself] { color: #A92112; font-weight: bold; }
.sender[type=normal] { color: #F09722; font-weight: bold; }
.sender[type=normal][colornumber='0'] {}
.sender[type=normal][colornumber='1'] {}
.sender[type=normal][colornumber='2'] {}
.sender[type=normal][colornumber='3'] {}
.sender[type=normal][colornumber='4'] {}
.sender[type=normal][colornumber='5'] {}
.sender[type=normal][colornumber='6'] {}
.sender[type=normal][colornumber='7'] {}
.sender[type=normal][colornumber='8'] {}
.sender[type=normal][colornumber='9'] {}
.sender[type=normal][colornumber='10'] {}
.sender[type=normal][colornumber='11'] {}
.sender[type=normal][colornumber='12'] {}
.sender[type=normal][colornumber='13'] {}
.sender[type=normal][colornumber='14'] {}
.sender[type=normal][colornumber='15'] {}

/* message body */
.message[type=system] { color: #999; }
.message[type=error] { color: #f00; font-weight: bold; }
.message[type=reply] { color: #999; }
.message[type=error_reply] { color: #999; }
.message[type=dcc_send_send] { color: #999; }
.message[type=dcc_send_receive] { color: #999; }
.message[type=privmsg] {}
.message[type=notice] { color: #999; }
.message[type=action] { color: #000; }
.message[type=join] { color: #999; }
.message[type=part] { color: #999; }
.message[type=kick] { color: #999; }
.message[type=quit] { color: #999; }
.message[type=kill] { color: #999; }
.message[type=nick] { color: #999; }
.message[type=mode] { color: #999; }
.message[type=topic] { color: #999; }
.message[type=invite] { color: #999; }
.message[type=wallops] { color: #999; }
.message[type=debug_send] { color: #aaa; }
.message[type=debug_receive] { color: #444; }

/* -- Channel event -- */
div.event {
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    margin: 0 -7px;
    padding: 1px 7px;
}

div.event .message {
    color: #b3b3b3;
}

div.event span.time {
  float: none;
  margin: 0;
  color: #b3b3b3;
  font-size: 9px;
}

div.event a { color: #94A9D4; }

/* -- System message -- */
div[type=system]
{
  background-color: #ddd;
  border-bottom: solid 1px #d5d5d5;
}
div[type=system] span.message,
div[type=system] span.time
{
  color: #999;
}

/* mIRC color effects */
.effect[color-number='0'] {}
.effect[color-number='1'] {}
.effect[color-number='2'] {}
.effect[color-number='3'] {}
.effect[color-number='4'] {}
.effect[color-number='5'] {}
.effect[color-number='6'] {}
.effect[color-number='7'] {}
.effect[color-number='8'] {}
.effect[color-number='9'] {}
.effect[color-number='10'] {}
.effect[color-number='11'] {}
.effect[color-number='12'] {}
.effect[color-number='13'] {}
.effect[color-number='14'] {}
.effect[color-number='15'] {}
.effect[bgcolor-number='0'] {}
.effect[bgcolor-number='1'] {}
.effect[bgcolor-number='2'] {}
.effect[bgcolor-number='3'] {
  background-color: #fff;
  border-bottom: solid 1px #fff;
  color: #000;
}
.effect[bgcolor-number='4'] {}
.effect[bgcolor-number='5'] {}
.effect[bgcolor-number='6'] {}
.effect[bgcolor-number='7'] {}
.effect[bgcolor-number='8'] {}
.effect[bgcolor-number='9'] {}
.effect[bgcolor-number='10'] {}
.effect[bgcolor-number='11'] {}
.effect[bgcolor-number='12'] {}
.effect[bgcolor-number='13'] {}
.effect[bgcolor-number='14'] {}
.effect[bgcolor-number='15'] {}
